#loadingScreen {
	width: 100%;
	height: 50em;
	background-color: black;
	text-align: center;
	padding-top: 17em;
}
#loading {
	color: #fff;
	font-size: 5em;
	border: none;
}
#menuScreen {
	text-align: center;
}
a {
	color: black;
	border: 1px solid black;
	font-size: 3em;
	text-decoration: none;
}